@import "tailwindcss";

@theme {
  --color-one: #061e29;
  --color-two: #1d546d;
  --color-three: #5f9598;
  --color-lightgray: #fafafa;
  --color-gray25: #b3b3b325;
  --color-gray50: #b3b3b350;
  --color-gray50: #b3b3b375;
}
